html {
    height: 100%;
    width: 100%;
    body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        height: 100%;
        background: #a8a8a8;
        .height100 {
            height: 100%;
        }
        .csv-link {
            .show-on-csv {
                display: none;
            }
        }
        .sign-forms {
            margin-top: 5%;
            border: 1px #c5c5c5 solid;
            border-radius: 5px;
            text-align: center;
            background: #eee;
            padding: 15px;
            box-shadow: 15px 15px 15px #999;
            transition: all 1s;
            min-width: 264px;
            form {
                padding: 10px;
                .input-group {
                    margin-bottom: 15px;
                }
                .input-group {
                    width: 100%;
                    span {
                        width: 100px;
                    }
                }
            }
        }
        .escudo {
            height: 200px;
            display: inline-block;
        }
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
            position: fixed;
        }
        /* On small screens, set height to 'auto' for the grid */
        .badge {
            &.creditos-totales {
                float: right;
            }
        }
        .variantes-container {
            display: inline-block;
            margin: 0 5px;
        }
        .glyphicon {
            cursor: pointer;
            color: #000;
        }
        .resource-edition-container {
            chip-tmpl {
                display: block;
                margin: 0 5px 5px 0;
                position: relative;

                .glyphicon-remove{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    }
}

@media print{
    .no-printable {
        display: none !important;
    }
}

@import 'mis-datos';
