<div class="dashboard-container height100" data-ng-controller="DashboardController as dc">
    <nav class="navbar navbar-inverse visible-xs no-printable">
        <div class="container-fluid">
            <div class="navbar-header no-printable">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="pre-registro {{dc.navClasses.preRegistro}}" ng-if="dc.datosUsuario.role == 'alumno'"><a href="#/pre-registro">Pre-registro</a></li>
                    <li class="mis-datos {{dc.navClasses.misDatos}}" ng-if="dc.datosUsuario.role == 'alumno'"><a href="#/mis-datos">Mis datos</a></li>
                    <li class="reportes {{dc.navClasses.reportes}}" ng-if="dc.datosUsuario.role != 'alumno'"><a href="#/reportes">Reportes</a></li>
                    <li class="mi-cuenta {{dc.navClasses.miCuenta}}" ng-if="dc.datosUsuario.role != 'alumno'"><a href="#/mi-cuenta">Mi cuenta</a></li>
                    <li class="mi-cuenta {{dc.navClasses.edicion}}" ng-if="dc.datosUsuario.role == 'admin'"><a href="#/edicion">Edición</a></li>
                    <li><a ng-click="dc.cerrarSesion()">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid height100">
        <div class="row content height100">
            <div class="col-sm-3 col-md-2 col-lg-2 sidenav hidden-xs">
                <div class="text-center">
                    <img class="escudo" src="img/escudo.png" alt="">
                </div>
                <div class="text-center">
                    {{dc.datosUsuario.nombre+' '+dc.datosUsuario.apellidos}}
                </div>
                <div class="text-center">
                    {{dc.datosUsuario.codigo || dc.datosUsuario.puesto}}
                </div>
                <br />
                <ul class="nav nav-pills nav-stacked">
                    <li class="pre-registro {{dc.navClasses.preRegistro}}" ng-if="dc.datosUsuario.role == 'alumno'"><a href="#/pre-registro">Pre-registro</a></li>
                    <li class="mis-datos {{dc.navClasses.misDatos}}" ng-if="dc.datosUsuario.role == 'alumno'"><a href="#/mis-datos">Mis datos</a></li>
                    <li class="reportes {{dc.navClasses.reportes}}" ng-if="dc.datosUsuario.role != 'alumno'"><a href="#/reportes">Reportes</a></li>
                    <li class="mi-cuenta {{dc.navClasses.miCuenta}}" ng-if="dc.datosUsuario.role != 'alumno'"><a href="#/mi-cuenta">Mi cuenta</a></li>
                    <li class="mi-cuenta {{dc.navClasses.edicion}}" ng-if="dc.datosUsuario.role == 'admin'"><a href="#/edicion">Edición</a></li>
                    <li><a ng-click="dc.cerrarSesion()">Cerrar sesión</a></li>
                </ul>
                <br>
            </div>
            <br>

            <div ui-view="dashboardContent" class="col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2"></div>

        </div>
    </div>
</div>
