<div class="reportes-container" data-ng-controller="EdicionController as ec">
    <div class="well">
        <h4>Edición de colecciones.</h4>
        <br>
        <p>Seleccionar la colección a editar:</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Colección:</span>
            <select name="" id="" ng-model="ec.coleccionSeleccionada" class="form-control" ng-change="ec.cambiarColeccion()">
                <option value="alumnos">Alumnos</option>
                <option value="programas">Programas</option>
                <option value="centros">Centros</option>
                <option value="ciclos">Ciclos</option>
                <!-- <option value="departamentos">Departamentos</option> -->
                <option value="materias">Materias</option>
                <option value="preregistros">Preregistros</option>
                <option value="usuarios">Usuarios</option>
            </select>
        </div>
        <br>
        <div ng-if="ec.coleccionSeleccionada">
            <a class="btn btn-default" title="Export Table" ng-click='ec.generateCSVLink()' ng-href="{{ec.csvLink}}"
         download="{{ec.coleccionSeleccionada}}.csv" ng-if = "ec.coleccionSeleccionada != 'preregistros'">
                <i class="glyphicon glyphicon-download"></i> &#160;Exportar a csv
            </a>
            <button class="btn btn-default" ng-if = "ec.coleccionSeleccionada != 'preregistros'" title="Crear nuevo elemento" ng-click="ec.nuevoRecurso()">
                <i class="glyphicon glyphicon-plus"></i> &#160;Crear nuevo elemento
            </button>
            <button class="btn btn-default" title="Refrescar tabla" ng-click="ec.colecciones[ec.coleccionSeleccionada].tabla.reload()">
                <i class="glyphicon glyphicon-refresh"></i> &#160;Refrescar tabla
            </button>
            <br>
            <br>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'alumnos'" class="table-responsive">
            <table ng-table="ec.colecciones.alumnos.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.alumnos.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.codigo}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Apellidos'" sortable="'apellidos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{apellidos:'text'}">
                        {{row.apellidos}}
                    </td>
                    <td title="'Email'" sortable="'email'" class="text-left" header-class="'text-left'" show-filter="true" filter="{email:'text'}">
                        {{row.email}}
                    </td>
                    <td title="'Programa'" sortable="'programa'" class="text-left" header-class="'text-left'" show-filter="true" filter="{programa:'text'}">
                        {{row.programa}}
                    </td>
                    <td title="'Generación'" sortable="'generacion'" class="text-left" header-class="'text-left'" show-filter="true" filter="{generacion:'text'}">
                        {{row.generacion}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_alumno, 'alumnos')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'programas'" class="table-responsive">
            <table ng-table="ec.colecciones.programas.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.programas.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.clave}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Departamento'" sortable="'departamento'" class="text-left" header-class="'text-left'" show-filter="true" filter="{departamento:'text'}" filter-data="ec.tiposHorario">
                        {{row.departamento}}
                    </td>
                    <td title="'Preregistro activo'" sortable="'preregistro_activo'" class="text-left" header-class="'text-left'" show-filter="true" filter="{preregistro_activo:'text'}">
                        {{row.preregistro_activo}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_programa, 'programas')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'materias'" class="table-responsive">

            <p>Filtrar las materias por carrera:</p>

            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Carrera:</span>
                <input class="form-control" placeholder="Ej. COMPUTACION, COMUNICACIONES etc." uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in ec.colecciones.materias.otherModels.programas | filter:{nombre:$viewValue} | limitTo:8" data-ng-model="ec.colecciones.materias.otherModels.carreraElegida" typeahead-on-select="ec.customMethods.seleccionarMateria($item, $model, $label, $event)" typeahead-editable = "false" ng-blur="ec.customMethods.validarSeleccion()"></input>
            </div>

            <br>

            <table ng-table="ec.colecciones.materias.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.materias.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.clave}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Subj'" sortable="'subj'" class="text-left" header-class="'text-left'" show-filter="true" filter="{subj:'text'}">
                        {{row.subj}}
                    </td>
                    <td title="'Creditos'" sortable="'creditos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{creditos:'text'}">
                        {{row.creditos}}
                    </td>
                    <td title="'Horas practica'" sortable="'practica'" class="text-left" header-class="'text-left'" show-filter="true" filter="{practica:'text'}">
                        {{row.practica}}
                    </td>
                    <td title="'Horas teoria'" sortable="'teoria'" class="text-left" header-class="'text-left'" show-filter="true" filter="{teoria:'text'}">
                        {{row.teoria}}
                    </td>
                    <td title="'Tipo'" sortable="'tipo'" class="text-left" header-class="'text-left'" show-filter="true" filter="{tipo:'text'}">
                        {{row.tipo}}
                    </td>
                    <td title="'Nivel'" sortable="'nivel'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nivel:'text'}">
                        {{row.nivel}}
                    </td>
                    <td title="'Preregistro activo'" sortable="'preregistro_activo'" class="text-left" header-class="'text-left'" show-filter="true" filter="{preregistro_activo:'text'}">
                        {{row.preregistro_activo}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_materia, 'materias')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'ciclos'" class="table-responsive">
            <table ng-table="ec.colecciones.ciclos.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.ciclos.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.clave}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Preregistro activo'" sortable="'preregistro'" class="text-left" header-class="'text-left'" show-filter="true" filter="{preregistro:'text'}">
                        {{row.preregistro}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_ciclo, 'ciclos')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'centros'" class="table-responsive">
            <table ng-table="ec.colecciones.centros.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.centros.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.clave}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_centro, 'centros')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'departamentos'" class="table-responsive">
            <table ng-table="ec.colecciones.departamentos.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.departamentos.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.clave}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Division'" sortable="'division'" class="text-left" header-class="'text-left'" show-filter="true" filter="{division:'text'}">
                        {{row.division}}
                    </td>
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_departamento, 'departamentos')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'usuarios'" class="table-responsive">
            <table ng-table="ec.colecciones.usuarios.tabla" class="table table-condensed table-striped table-hover" show-filter="true" export-csv="ec.colecciones.usuarios.csv" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Apellidos'" sortable="'apellidos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{apellidos:'text'}">
                        {{row.apellidos}}
                    </td>
                    <td title="'Puesto'" sortable="'puesto'" class="text-left" header-class="'text-left'" show-filter="true" filter="{puesto:'text'}">
                        {{row.puesto}}
                    </td>
                    <td title="'Email'" sortable="'email'" class="text-left" header-class="'text-left'" show-filter="true" filter="{email:'text'}">
                        {{row.email}}
                    </td>
                    <td title="'Rol'" sortable="'role'" class="text-left" header-class="'text-left'" show-filter="true" filter="{role:'select'}" filter-data="ec.userRoles">
                        {{row.role}}
                    </td>
                    <td title="'editar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-pencil" ng-click="ec.editarRecurso(row.id_usuario, 'usuarios')"></i>
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="ec.coleccionSeleccionada == 'preregistros'" class="table-responsive">
            <table ng-table="ec.colecciones.preregistros.tabla" class="table table-condensed table-striped table-hover" show-filter="true">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Preregistro activo'" sortable="'preregistro_activo'" class="text-left" header-class="'text-left'" show-filter="true" filter="{preregistro_activo:'text'}">
                        {{row.preregistro_activo}}
                    </td>
                    <td title="'eliminar'" class="text-center csv-link" header-class="'text-center'">
                        <i class="glyphicon glyphicon-trash" ng-click="ec.eliminarRecurso(row)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
