<div class="resource-edition-container" data-ng-controller="EdicionRecursoController as erc">
    <br>
    <div class="well container">
        <h4>{{erc.titulo}}</h4>
        <br>
        <form action="" class="row" name="formRegistro" novalidate >
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'alumnos'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="100">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Apellidos</span>
                    <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.apellidos" name="apellidos" required maxlength="100">
                </div>
                <p ng-show="formRegistro.apellidos.$error.required && formRegistro.apellidos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.apellidos.$invalid && formRegistro.apellidos.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Código</span>
                    <input type="text" class="form-control" placeholder="Código de estudiante" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.codigo" name="codigo" required maxlength="20" ng-keyup="erc.revisaExistenciaAlumno()" ng-pattern="erc.codePattern">
                </div>
                <p ng-show="formRegistro.codigo.$error.required && formRegistro.codigo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.codigo.$invalid && formRegistro.codigo.$dirty" class="help-block">Este campo es invalido.</p>
                <p ng-show="formRegistro.codigo.$error.codigoUnico" class="help-block">Este código ya está registrado.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Correo</span>
                    <input type="email" class="form-control" placeholder="Correo electrónico" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.email" name="correo" required maxlength="100">
                </div>
                <p ng-show="formRegistro.correo.$error.required && formRegistro.correo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.correo.$invalid && formRegistro.correo.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Carrera</span>
                    <input type="text" uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in erc.programas | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. COMPUTACION, COMUNICACIONES etc." data-ng-model="erc.programaAlumno" name="carrera" required typeahead-editable='false'>
                </div>
                <p ng-show="formRegistro.carrera.$error.required && formRegistro.carrera.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.carrera.$invalid && formRegistro.carrera.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Generación</span>
                    <input type="text" ng-model="erc.generacionAlumno" uib-typeahead="ciclo as ciclo.nombre for ciclo in erc.ciclos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. 2012 A." name="generacion" required typeahead-editable='false'>
                </div>
                <p ng-show="formRegistro.generacion.$error.required && formRegistro.generacion.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.generacion.$invalid && formRegistro.generacion.$dirty" class="help-block">Este campo es invalido.</p>
            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'programas'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="50">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Clave</span>
                    <input type="text" class="form-control" placeholder="Clave" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.clave" name="clave" required maxlength="10" ng-keyup="erc.revisaExistenciaPrograma()">
                </div>
                <p ng-show="formRegistro.clave.$error.required && formRegistro.clave.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.clave.$invalid && formRegistro.clave.$dirty" class="help-block">Este campo es invalido.</p>
                <p ng-show="formRegistro.clave.$error.codigoUnico" class="help-block">Este código ya está registrado.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Departamento</span>
                    <input type="text" uib-typeahead="departamento as (departamento.nombre+' ('+departamento.clave+')') for departamento in erc.departamentos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. Departamento de Farmacología etc." data-ng-model="erc.departamentoPrograma" name="departamento" required typeahead-editable='false'>
                </div>
                <p ng-show="formRegistro.departamento.$error.required && formRegistro.departamento.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.departamento.$invalid && formRegistro.departamento.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'1'">Preregistro activo</label>
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'0'">Preregistro inactivo</label>
                </div>
                <br>
                <br>
                <p>Materias del curso:</p>
                <chips ng-model="erc.modelo.elementosElegidos" render="erc.renderChip(data)">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip.clave+' - '+chip.nombre}}
                            <span class="glyphicon glyphicon-remove" remove-chip="erc.removeChip(data)"></span>
                        </div>
                    </chip-tmpl>
                    <input placeholder="Ej. COMPUTACION, COMUNICACIONES etc." ng-model-control uib-typeahead="materia as (materia.nombre+' ('+materia.clave+')') for materia in erc.cargaMaterias($viewValue)" data-ng-model="erc.modelo.elementoElegido"></input>
                </chips>
            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'centros'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="50">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Clave</span>
                    <input type="text" class="form-control" placeholder="Clave" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.clave" name="clave" required maxlength="10">
                </div>
                <p ng-show="formRegistro.clave.$error.required && formRegistro.clave.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.clave.$invalid && formRegistro.clave.$dirty" class="help-block">Este campo es invalido.</p>

            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'ciclos'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="60">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Clave</span>
                    <input type="text" class="form-control" placeholder="Clave" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.clave" name="clave" required maxlength="10">
                </div>
                <p ng-show="formRegistro.clave.$error.required && formRegistro.clave.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.clave.$invalid && formRegistro.clave.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'1'">Preregistro activo</label>
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'0'">Preregistro inactivo</label>
                </div>
            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'departamentos'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="50">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Clave</span>
                    <input type="text" class="form-control" placeholder="Clave" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.clave" name="clave" required maxlength="10">
                </div>
                <p ng-show="formRegistro.clave.$error.required && formRegistro.clave.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.clave.$invalid && formRegistro.clave.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Division</span>
                    <input type="text" uib-typeahead="division as division.nombre for division in erc.divisiones | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. División de Ingenierías, etc." data-ng-model="erc.divisionDepartamento" name="division" required typeahead-editable='false'>
                </div>
                <p ng-show="formRegistro.carrera.$error.required && formRegistro.carrera.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.carrera.$invalid && formRegistro.carrera.$dirty" class="help-block">Este campo es invalido.</p>
            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'materias'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="150">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Subj</span>
                    <input type="text" class="form-control" placeholder="Subj" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.subj" name="subj" required maxlength="10">
                </div>
                <p ng-show="formRegistro.subj.$error.required && formRegistro.subj.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.subj.$invalid && formRegistro.subj.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Clave</span>
                    <input type="text" class="form-control" placeholder="Clave" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.clave" name="clave" required maxlength="10" ng-keyup="erc.revisaExistenciaMateria()">
                </div>
                <p ng-show="formRegistro.clave.$error.required && formRegistro.clave.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.clave.$invalid && formRegistro.clave.$dirty" class="help-block">Este campo es invalido.</p>
                <p ng-show="formRegistro.clave.$error.codigoUnico" class="help-block">Este código ya está registrado.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Creditos</span>
                    <input type="text" class="form-control" placeholder="Creditos" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.creditos" name="creditos" required maxlength="2">
                </div>
                <p ng-show="formRegistro.creditos.$error.required && formRegistro.creditos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.creditos.$invalid && formRegistro.creditos.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Horas teoría</span>
                    <input type="text" class="form-control" placeholder="Horas teoría" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.carga_hor_teo" name="carga_hor_teo" required maxlength="3">
                </div>
                <p ng-show="formRegistro.carga_hor_teo.$error.required && formRegistro.carga_hor_teo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.carga_hor_teo.$invalid && formRegistro.carga_hor_teo.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Horas práctica</span>
                    <input type="text" class="form-control" placeholder="Horas práctica" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.carga_hor_pra" name="carga_hor_pra" required maxlength="3">
                </div>
                <p ng-show="formRegistro.carga_hor_pra.$error.required && formRegistro.carga_hor_pra.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.carga_hor_pra.$invalid && formRegistro.carga_hor_pra.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Tipo</span>
                    <input type="text" class="form-control" placeholder="Tipo" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.tipo" name="tipo" required maxlength="15">
                </div>
                <p ng-show="formRegistro.tipo.$error.required && formRegistro.tipo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.tipo.$invalid && formRegistro.tipo.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nivel</span>
                    <input type="text" class="form-control" placeholder="Nivel" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nivel" name="nivel" required maxlength="15">
                </div>
                <p ng-show="formRegistro.nivel.$error.required && formRegistro.nivel.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nivel.$invalid && formRegistro.nivel.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'1'">Preregistro activo</label>
                    <label class="btn btn-primary" ng-model="erc.modelo.preregistro_activo" uib-btn-radio="'0'">Preregistro inactivo</label>
                </div>
                <br>
                <br>
                <p>Carreras que tienen esta materia:</p>
                <chips ng-model="erc.modelo.elementosElegidos" render="erc.renderChip(data)">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip.clave+' - '+chip.nombre}}
                            <span class="glyphicon glyphicon-remove" remove-chip="erc.removeChip(data)"></span>
                        </div>
                    </chip-tmpl>
                    <input placeholder="Ej. COMPUTACION, COMUNICACIONES etc." ng-model-control uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in erc.programas | filter:{nombre:$viewValue} | limitTo:8" data-ng-model="erc.modelo.elementoElegido"></input>
                </chips>
            </div>
            <div class="col-sm-12" ng-if="erc.nombreColeccion == 'usuarios'">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.nombre" name="nombre" required maxlength="100">
                </div>
                <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Apellidos</span>
                    <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.apellidos" name="apellidos" required maxlength="100">
                </div>
                <p ng-show="formRegistro.apellidos.$error.required && formRegistro.apellidos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.apellidos.$invalid && formRegistro.apellidos.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Puesto</span>
                    <input type="text" class="form-control" placeholder="Describa el puesto" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.puesto" name="puesto" required maxlength="100">
                </div>
                <p ng-show="formRegistro.puesto.$error.required && formRegistro.puesto.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.puesto.$invalid && formRegistro.puesto.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Correo</span>
                    <input type="email" class="form-control" placeholder="Correo electrónico" aria-describedby="sizing-addon2" data-ng-model="erc.modelo.email" name="email" required maxlength="100">
                </div>
                <p ng-show="formRegistro.email.$error.required && formRegistro.email.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                <p ng-show="formRegistro.email.$invalid && formRegistro.email.$dirty" class="help-block">Este campo es invalido.</p>
                <br>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="erc.modelo.role" uib-btn-radio="'admin'">Administrador</label>
                    <label class="btn btn-primary" ng-model="erc.modelo.role" uib-btn-radio="'user'">Usuario</label>
                </div>
                <br>
                <br>
                <div class="btn btn-default" ng-click="erc.mandarCorreo()">Resetear contraseña</div>
                <br>
            </div>

            <div class="col-sm-12">
            <br>
                <button type="button" class="btn btn-default" data-ng-click="erc.guardarRecurso()" ng-disabled="formRegistro.$invalid" disableonrequest ng-if="!erc.inhabilitarGuardado">Guardar</button>
                <button type="button" class="btn btn-default" data-ng-click="erc.closeWindow()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>
