<div class="reportes-container stand-alone" data-ng-controller="ReportesStandAloneController as rsac">
    <div class="well">
        <h4>Reportes de cupos solicitados para {{rsac.titulo}}</h4>
        <br>
        <a class="btn btn-default" title="Export Table" ng-click='csvMateriasCampus.generate()' ng-href="{{ csvMateriasCampus.link() }}" download="materias_campus_por_carreras.csv">
            <i class="glyphicon glyphicon-download"></i> &#160;Exportar a csv
        </a>
        <br>
        <br>
        <div class="table-responsive">
            <table ng-table="rsac.ngTableAlumnosSolicitantes" class="table table-condensed table-striped table-hover table-responsive" show-filter="true" export-csv="csvMateriasCampus" separator=",">
                <tr ng-repeat="row in $data" ng-class="row.classes">
                    <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                        {{row.codigo}}
                        <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                    </td>
                    <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                        {{row.nombre}}
                    </td>
                    <td title="'Apellidos'" sortable="'apellidos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{apellidos:'text'}">
                        {{row.apellidos}}
                    </td>
                    <td title="'Email'" sortable="'email'" class="text-left" header-class="'text-left'" show-filter="true" filter="{email:'text'}">
                        <a href="mailto:{{row.email}}">{{row.email}}</a>
                    </td>
                    <td title="'Carrera'" sortable="'programa'" class="text-left" header-class="'text-left'" show-filter="true" filter="{programa:'text'}">
                        {{row.programa}}
                    </td>
                    <td title="'Generación'" sortable="'generacion'" class="text-left" header-class="'text-left'" show-filter="true" filter="{generacion:'text'}">
                        {{row.generacion}}
                    </td>
                    <td title="'Situación'" sortable="'situacion'" class="text-left" header-class="'text-left'" show-filter="true" filter="{situacion:'select'}" filter-data="rsac.situaciones">
                        {{row.situacion}}
                    </td>
                    <td title="'Horario'" sortable="'horario'" class="text-left" header-class="'text-left'" show-filter="true" filter="{horario:'select'}" filter-data="rsac.tiposHorarios">
                        {{row.horario}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
