<div class="login-container" data-ng-controller="LoginController as lc">
    <form action="" class="row">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Código</span>
            <input type="text" class="form-control" placeholder="Código de alumno" aria-describedby="sizing-addon2" data-ng-model="lc.inputs.codigo" data-ng-pattern="lc.codePattern" maxlength="11" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Contraseña</span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon2" data-ng-model="lc.inputs.contrasena" maxlength="32" required>
        </div>
        <div class="row">
            <div class="col-xs-12">
             <button type="button" class="btn btn-default" data-ng-click="lc.login()">Acceder al pre-registro</button>
              <a href="#/recupera-contrasena" class="btn btn-default">Olvidé mi contraseña</a>
              <a href="#/registro" class="btn btn-default">Darme de alta</a>
            </div>
        </div>
    </form>
</div>
