<div class="mis-datos-container" data-ng-controller="MiCuentaController as mcc">
    <div class="well">
        <h4>Mis cuenta</h4>
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Cambiar mis datos">
                <br>
                <form action="" class="" name="mcc.forms.formRegistro" novalidate>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Nombre(s)</span>
                                    <input type="text" class="form-control" placeholder="Nombre(s)" aria-describedby="sizing-addon2" data-ng-model="mcc.inputs.nombre" name="nombre" required maxlength="50">
                                </div>
                                <p ng-show="mcc.forms.formRegistro.nombre.$error.required && mcc.forms.formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mcc.forms.formRegistro.nombre.$invalid && mcc.forms.formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Apellidos</span>
                                    <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon2" data-ng-model="mcc.inputs.apellidos" name="apellidos" required maxlength="50">
                                </div>
                                <p ng-show="mcc.forms.formRegistro.apellidos.$error.required && mcc.forms.formRegistro.apellidos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mcc.forms.formRegistro.apellidos.$invalid && mcc.forms.formRegistro.apellidos.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Email</span>
                                    <input type="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2" data-ng-model="mcc.inputs.email" name="email" required ng-maxlenght="10" ng-keyup="mcc.revisaExistenciaUsuario()" ng-pattern="mcc.emailPattern" maxlength="100">
                                </div>
                                <p ng-show="mcc.forms.formRegistro.email.$error.required" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="(mcc.forms.formRegistro.email.$invalid-pattern || mcc.forms.formRegistro.email.$invalid) " class="help-block">Este campo es invalido.</p>
                                <p ng-show="mcc.forms.formRegistro.email.registrado" class="help-block">Este email ya está registrado, si cree que esto es un error acuda con el administrador del sistema.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Puesto</span>
                                    <input type="text" class="form-control" placeholder="Describa su puesto" aria-describedby="sizing-addon2" data-ng-model="mcc.inputs.puesto" name="puesto" required maxlength="100">
                                </div>
                                <p ng-show="mcc.forms.formRegistro.puesto.$error.required && mcc.forms.formRegistro.puesto.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mcc.forms.formRegistro.puesto.$invalid && mcc.forms.formRegistro.puesto.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <button type="button" class="btn btn-default" data-ng-click="mcc.guardarUsuario()" ng-disabled="mcc.forms.formRegistro.$invalid || mcc.forms.formRegistro.email.registrado">Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="1" heading="Cambiar mi contraseña">
                <br>
                <form action="" class="" name="mcc.forms.formContrasena" novalidate>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Antigua contraseña</span>
                                    <input type="{{mcc.passwordInputsType}}" class="form-control" placeholder="Antigua contraseña" aria-describedby="sizing-addon2" name="vieja_contrasena" required data-ng-model="mcc.contrasenas.vieja_contrasena" maxlength="32">
                                </div>
                                <p ng-show="mcc.forms.formContrasena.vieja_contrasena.$error.required && mcc.forms.formContrasena.vieja_contrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Nueva contraseña</span>
                                    <input type="{{mcc.passwordInputsType}}" class="form-control" placeholder="Nueva contraseña" aria-describedby="sizing-addon2" name="nueva_contrasena" required ng-pattern="mcc.pswPattern" data-ng-model="mcc.contrasenas.nueva_contrasena" data-ng-keyup="mcc.revisaContrasena()" maxlength="32">
                                </div>
                                <p ng-show="mcc.forms.formContrasena.nueva_contrasena.$error.required && mcc.forms.formContrasena.nueva_contrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mcc.forms.formContrasena.nueva_contrasena.$invalid && mcc.forms.formContrasena.nueva_contrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Repite contraseña</span>
                                    <input type="{{mcc.passwordInputsType}}" class="form-control" placeholder="Confirma nueva contraseña" aria-describedby="sizing-addon2" name="nueva_recontrasena" required ng-pattern="mcc.pswPattern" data-ng-model="mcc.contrasenas.nueva_recontrasena" data-ng-keyup="mcc.revisaContrasena()" maxlength="32">
                                </div>
                                <p ng-show="mcc.forms.formContrasena.nueva_recontrasena.$error.required && mcc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mcc.forms.formContrasena.nueva_recontrasena.$invalid && mcc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
                                <p ng-show="mcc.forms.formContrasena.nueva_recontrasena.noCoincide && mcc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">Las contraseñas no coinciden.</p>
                            </div>
                            <div class="cont-input">
                                <button type="button" class="btn btn-default" data-ng-click="mcc.cambiarContrasena()" ng-disabled="mcc.forms.formContrasena.nueva_recontrasena.noCoincide || mcc.forms.formContrasena.$invalid">Cambiar contraseña</button>
                                <button type="button" class="btn btn-default" data-ng-click="mcc.muestraContrasenas()">{{mcc.passwordInputsType=='password'?'Muestra':'Oculta'}} contraseñas</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
