<div class="mis-datos-container" data-ng-controller="MisDatosController as mdc">
    <div class="well">
        <h4>Mis datos</h4>
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Cambiar mis datos">
                <br>
                <form action="" class="" name="mdc.forms.formRegistro" novalidate>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Nombre(s)</span>
                                    <input type="text" class="form-control" placeholder="Nombre(s)" aria-describedby="sizing-addon2" data-ng-model="mdc.inputs.nombre" name="nombre" required maxlength="50">
                                </div>
                                <p ng-show="mdc.forms.formRegistro.nombre.$error.required && mdc.forms.formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.nombre.$invalid && mdc.forms.formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Apellidos</span>
                                    <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon2" data-ng-model="mdc.inputs.apellidos" name="apellidos" required maxlength="50">
                                </div>
                                <p ng-show="mdc.forms.formRegistro.apellidos.$error.required && mdc.forms.formRegistro.apellidos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.apellidos.$invalid && mdc.forms.formRegistro.apellidos.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Código</span>
                                    <input type="text" class="form-control" placeholder="Código de estudiante" aria-describedby="sizing-addon2" data-ng-model="mdc.inputs.codigo" name="codigo" required ng-maxlenght="10" ng-keyup="mdc.revisaExistenciaAlumno()" ng-pattern="mdc.codePattern" maxlength="11">
                                </div>
                                <p ng-show="mdc.forms.formRegistro.codigo.$error.required && mdc.forms.formRegistro.codigo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.codigo.$invalid && mdc.forms.formRegistro.codigo.$dirty" class="help-block">Este campo es invalido.</p>
                                <p ng-show="mdc.forms.formRegistro.codigo.registrado" class="help-block">Este código ya está registrado, si cree que esto es un error acuda con su coordinador.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Correo</span>
                                    <input type="email" class="form-control" placeholder="Correo electrónico" aria-describedby="sizing-addon2" data-ng-model="mdc.inputs.email" name="correo" required maxlength="100" ng-pattern="mdc.emailPattern">
                                </div>
                                <p ng-show="(mdc.forms.formRegistro.email.$invalid-pattern || mdc.forms.formRegistro.email.$invalid) " class="help-block">Este campo es invalido.</p>
                                <p ng-show="mdc.forms.formRegistro.correo.$error.required" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.correo.$invalid" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Carrera</span>
                                    <input type="text" uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in mdc.programas | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. COMPUTACION, COMUNICACIONES etc." data-ng-model="mdc.inputs.carrera" name="carrera" required typeahead-editable='false'>
                                </div>
                                <p ng-show="mdc.forms.formRegistro.carrera.$error.required && mdc.forms.formRegistro.carrera.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.carrera.$invalid && mdc.forms.formRegistro.carrera.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">Generación</span>
                                    <input type="text" ng-model="mdc.inputs.generacion" uib-typeahead="ciclo as ciclo.nombre for ciclo in mdc.ciclos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. 2012 A." name="generacion" required typeahead-editable='false'>
                                </div>
                                <p ng-show="mdc.forms.formRegistro.generacion.$error.required && mdc.forms.formRegistro.generacion.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formRegistro.generacion.$invalid && mdc.forms.formRegistro.generacion.$dirty" class="help-block">Este campo es invalido.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="cont-input">
                                <button type="button" class="btn btn-default" data-ng-click="mdc.guardarAlumno()" ng-disabled="mdc.forms.formRegistro.$invalid || mdc.forms.formRegistro.codigo.registrado">Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="1" heading="Cambiar mi contraseña">
                <br>
                <form action="" class="" name="mdc.forms.formContrasena" novalidate>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Antigua contraseña</span>
                                    <input type="{{mdc.passwordInputsType}}" class="form-control" placeholder="Antigua contraseña" aria-describedby="sizing-addon2" name="vieja_contrasena" required data-ng-model="mdc.contrasenas.vieja_contrasena" maxlength="32">
                                </div>
                                <p ng-show="mdc.forms.formContrasena.vieja_contrasena.$error.required && mdc.forms.formContrasena.vieja_contrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Nueva contraseña</span>
                                    <input type="{{mdc.passwordInputsType}}" class="form-control" placeholder="Nueva contraseña" aria-describedby="sizing-addon2" name="nueva_contrasena" required ng-pattern="mdc.pswPattern" data-ng-model="mdc.contrasenas.nueva_contrasena" data-ng-keyup="mdc.revisaContrasena()" maxlength="32">
                                </div>
                                <p ng-show="mdc.forms.formContrasena.nueva_contrasena.$error.required && mdc.forms.formContrasena.nueva_contrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formContrasena.nueva_contrasena.$invalid && mdc.forms.formContrasena.nueva_contrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
                            </div>
                            <div class="cont-input">
                                <div class="input-group">
                                    <span class="input-group-addon">Repite contraseña</span>
                                    <input type="{{mdc.passwordInputsType}}" class="form-control" placeholder="Confirma nueva contraseña" aria-describedby="sizing-addon2" name="nueva_recontrasena" required ng-pattern="mdc.pswPattern" data-ng-model="mdc.contrasenas.nueva_recontrasena" data-ng-keyup="mdc.revisaContrasena()" maxlength="32">
                                </div>
                                <p ng-show="mdc.forms.formContrasena.nueva_recontrasena.$error.required && mdc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
                                <p ng-show="mdc.forms.formContrasena.nueva_recontrasena.$invalid && mdc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
                                <p ng-show="mdc.forms.formContrasena.nueva_recontrasena.noCoincide && mdc.forms.formContrasena.nueva_recontrasena.$dirty" class="help-block">Las contraseñas no coinciden.</p>
                            </div>
                            <div class="cont-input">
                                <button type="button" class="btn btn-default" data-ng-click="mdc.cambiarContrasena()" ng-disabled="mdc.forms.formContrasena.nueva_recontrasena.noCoincide || mdc.forms.formContrasena.$invalid">Cambiar contraseña</button>
                                <button type="button" class="btn btn-default" data-ng-click="mdc.muestraContrasenas()">{{mdc.passwordInputsType=='password'?'Muestra':'Oculta'}} contraseñas</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
