<div class="pre-registro-container" data-ng-controller="PreRegistroController as prc">
    <div class="well">
        <h4>Pre-registro</h4>
        <form action="" ng-if=" true || prc.materiasSeleccionadas.length || prc.materiasMovilidad.length">
            <div ng-if="true || prc.materiasSeleccionadas.length">
                <p>Materias elegidas: <span class="badge creditos-totales">Créditos totales: {{prc.totalCreditos}}</span></p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info" ng-repeat="materia in prc.materiasSeleccionadas">
                        <span class="badge"> {{materia.creditos}} créditos</span>
                        <span class="glyphicon glyphicon-trash no-printable" ng-click="prc.eliminaElemento($index)"></span>
                        <div class="variantes-container">
                            <select ng-options="situacion for situacion in prc.situaciones" ng-model="materia.situacion"></select>
                            <select ng-options="horario for horario in prc.horarios" ng-model="materia.horario"></select>
                        </div>
                        {{materia.clave}} {{materia.nombre}}
                    </li>
                </ul>
            </div>
            <div ng-if="true || prc.materiasMovilidad.length">
                <p>Materias por movilidad elegidas:</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning" ng-repeat="materia in prc.materiasMovilidad">
                        <span class="glyphicon glyphicon-trash no-printable" ng-click="prc.eliminarElementoMovilidad($index)"></span> {{materia.clave}} {{materia.campus.nombre}}
                    </li>
                </ul>
            </div>
            <div class="no-printable">
                <button type="button" class="btn btn-default btn-md" ng-click="prc.print()">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir
                </button>
                <button type="button" class="btn btn-default btn-md" ng-click="prc.guardarPreregistro()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar Pre-registro
                </button>
                <button type="button" class="btn btn-default btn-md" ng-click="prc.borrarTodo()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Borrar todo
                </button>
            </div>
            <br>
        </form>
        <div class="no-printable">
            <p>Seleccione las materias para el siguiente ciclo escolar.</p>
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="De la carrera">
                    <br>
                    <table ng-table="prc.ngTableMateriasCarrera" class="table table-condensed table-striped table-hover table-responsive" show-filter="true">
                        <tr ng-repeat="row in $data" ng-class="row.classes">
                            <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                                {{row.clave}}
                                <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                            </td>
                            <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                                {{row.nombre}}
                            </td>
                            <td title="'Creditos'" sortable="'creditos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{creditos:'text'}">
                                {{row.creditos}}
                            </td>
                            <td title="'Añadir'" class="text-center" header-class="'text-center'">
                                <span class="glyphicon glyphicon-plus" ng-click="prc.seleccionaMateria(row)"></span>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="1" heading="Otra carrera">
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Carrera:</span>
                        <input type="text" uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in prc.programas | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. COMPUTACION, COMUNICACIONES etc." data-ng-model="prc.carreraElegida" name="carrera" required typeahead-editable='false' typeahead-on-select="prc.cambiarCarrera($item, $model, $label, $event)">
                    </div>
                    <br>
                    <table ng-table="prc.ngTableMateriasOtraCarrera" class="table table-condensed table-striped table-hover table-responsive" show-filter="true">
                        <tr ng-repeat="row in $data" ng-class="row.classes">
                            <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                                {{row.clave}}
                                <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                            </td>
                            <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                                {{row.nombre}}
                            </td>
                            <td title="'Creditos'" sortable="'creditos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{creditos:'text'}">
                                {{row.creditos}}
                            </td>
                            <td title="'Añadir'" class="text-center" header-class="'text-center'">
                                <span class="glyphicon glyphicon-plus" ng-click="prc.seleccionaMateria(row)"></span>
                            </td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="2" heading="Movilidad">
                    <br>
                    <p>La oferta de materias por movilidad no está asegurada y está sujeta a aprobación por el coordinador de tu carrera.</p>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Centro universitario:</span>
                        <input type="text" uib-typeahead="campus as (campus.nombre+' ('+campus.clave+')') for campus in prc.todosLosCampus | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. CENTRO UNIVERSITARIO DE CIENCIAS EXACTAS E INGENIE" data-ng-model="prc.campusMovilidad" name="campusMovilidad" required typeahead-editable='false'>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Clave materia:</span>
                        <input type="text" class="form-control" placeholder="Ej. CC312" data-ng-model="prc.claveMovilidad" name="carrera" maxlength="7" ng-pattern="prc.codePattern" ng-disabled="!prc.campusMovilidad">
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-default btn-md" ng-if="prc.claveMovilidad && prc.campusMovilidad" ng-click="prc.seleccionaMateriaMovilidad()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Elegir materia
                        </button>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
