<div class="recupera-contrasena-container" data-ng-controller="RecuperaContrasenaController
 as rcc">
    <form name="formRecuperaContrasena" class="row" novalidate>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Código</span>
            <input type="text" class="form-control" placeholder="Código de alumno" aria-describedby="sizing-addon2" data-ng-model="rcc.inputs.codigo" data-ng-pattern="rcc.codePattern" maxlength="11" name="codigo" required>
        </div>
        <p ng-show="formRecuperaContrasena.codigo.$error.required && formRecuperaContrasena.codigo.$dirty" class="help-block" ng-pattern="rcc.codePattern">Este campo no puede quedar vacio.</p>
        <div class="row">
            <button type="button" class="btn btn-default" ng-click="rcc.enviaCorreo()" ng-disabled="formRecuperaContrasena.$invalid" ng-if="rcc.mostrarBotonEnvio">Enviar correo de recuperación</button>
            <a href="#/login" class="btn btn-default">Regresar al login</a>
        </div>
    </form>
</div>
