<div class="register-container" data-ng-controller="RegistroController as rc">
    <form action="" class="row" name="formRegistro" novalidate autocomplete="off" autocomplete="false" role="presentation">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Nombre(s)</span>
            <input type="text" class="form-control" placeholder="Nombre(s)" aria-describedby="sizing-addon2" data-ng-model="rc.inputs.nombre" name="nombre" required maxlength="50" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.nombre.$error.required && formRegistro.nombre.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.nombre.$invalid && formRegistro.nombre.$dirty" class="help-block">Este campo es invalido.</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Apellidos</span>
            <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon2" data-ng-model="rc.inputs.apellidos" name="apellidos" required maxlength="50" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.apellidos.$error.required && formRegistro.apellidos.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.apellidos.$invalid && formRegistro.apellidos.$dirty" class="help-block">Este campo es invalido.</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Código</span>
            <input type="number" class="form-control" placeholder="Código de estudiante" aria-describedby="sizing-addon2" data-ng-model="rc.inputs.codigo" name="codigo" required ng-maxlenght="10" ng-keyup="rc.revisaExistenciaAlumno()" ng-pattern="rc.codePattern" maxlength="11" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.codigo.$error.required && formRegistro.codigo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.codigo.$invalid && formRegistro.codigo.$dirty" class="help-block">Este campo es invalido.</p>
        <p ng-show="formRegistro.codigo.registrado" class="help-block">Este código ya está registrado, <a href="#/login">intente loguearse</a> o acuda con su coordinador.</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Correo</span>
            <input type="email" class="form-control" placeholder="Correo electrónico" aria-describedby="sizing-addon2" data-ng-model="rc.inputs.correo" name="correo" required maxlength="100" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.correo.$error.required && formRegistro.correo.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.correo.$invalid && formRegistro.correo.$dirty" class="help-block">Este campo es invalido.</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Carrera</span>
            <input type="text" uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in rc.programas | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. COMPUTACION, COMUNICACIONES etc." data-ng-model="rc.inputs.carrera" name="carrera" required typeahead-editable='false' autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.carrera.$error.required && formRegistro.carrera.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.carrera.$invalid && formRegistro.carrera.$dirty" class="help-block">Este campo es invalido.</p>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Generación</span>
            <input type="text" ng-model="rc.inputs.generacion" uib-typeahead="ciclo as ciclo.nombre for ciclo in rc.ciclos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. 2012 A." name="generacion" required typeahead-editable='false' autocomplete="false" autocomplete="off" autocomplete="new-password">
        </div>
        <p ng-show="formRegistro.generacion.$error.required && formRegistro.generacion.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.generacion.$invalid && formRegistro.generacion.$dirty" class="help-block">Este campo es invalido.</p>
        <div class="input-group">
            <span class="input-group-addon">Contraseña</span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon2" name="contrasena" required ng-pattern="rc.pswPattern" data-ng-model="rc.inputs.contrasena" maxlength="32" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.contrasena.$error.required && formRegistro.contrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.contrasena.$invalid && formRegistro.contrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
        <div class="input-group">
            <span class="input-group-addon">Contraseña</span>
            <input type="password" class="form-control" placeholder="Confirma contraseña" aria-describedby="sizing-addon2" name="recontrasena" required ng-pattern="rc.pswPattern" data-ng-model="rc.inputs.recontrasena" data-ng-keyup="rc.revisaContrasena()" maxlength="32" autocomplete="false" autocomplete="off">
        </div>
        <p ng-show="formRegistro.recontrasena.$error.required && formRegistro.recontrasena.$dirty" class="help-block">Este campo no puede quedar vacio.</p>
        <p ng-show="formRegistro.recontrasena.$invalid && formRegistro.recontrasena.$dirty" class="help-block">La contraseña debe contener al menos seis caracteres.</p>
        <p ng-show="formRegistro.recontrasena.noCoincide && formRegistro.recontrasena.$dirty" class="help-block">Las contraseñas no coinciden.</p>
        <div class="row">
            <button type="button" class="btn btn-default"  data-ng-click="rc.guardarAlumno()" ng-disabled="formRegistro.$invalid || formRegistro.codigo.registrado || formRegistro.recontrasena.noCoincide">Registrarme al pre-registro</button>
            <a href="#/login" class="btn btn-default">Iniciar sesión</a>
        </div>
    </form>
</div>

