<div class="reportes-container" data-ng-controller="ReportesController as rc">
    <form class="well" autocomplete="off">
        <h4>Reportes de cupos solicitados.</h4>

        <p>Cargar carreras por departamento: </p>

        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Departamento:</span>
            <input type="text" ng-model="rc.departamento" uib-typeahead="depa as depa.nombre for depa in rc.departamentos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. Departamento de Ciencias Computacionales" name="generacion" required typeahead-editable='false' typeahead-on-select="rc.seleccionarDepartamento($item, $model, $label, $event)">
        </div>

        <br>

        <p>Seleccionar las carreras individualmente:</p>

        <chips ng-model="rc.carrerasElegidas" render="rc.renderChip(data)">
            <chip-tmpl>
                <div class="default-chip">
                    {{chip.nombre+' ('+chip.clave+')'}}
                    <span class="glyphicon glyphicon-remove" remove-chip="rc.removeChip(data)"></span>
                </div>
            </chip-tmpl>

            <input placeholder="Ej. COMPUTACION, COMUNICACIONES etc." ng-model-control uib-typeahead="programa as (programa.nombre+' ('+programa.clave+')') for programa in rc.programas | filter:{nombre:$viewValue} | limitTo:8" data-ng-model="rc.carreraElegida"></input>
        </chips>

        <br>

        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Para el ciclo</span>
            <input type="text" ng-model="rc.ciclo" uib-typeahead="ciclo as ciclo.nombre for ciclo in rc.ciclos | filter:{nombre:$viewValue} | limitTo:8" class="form-control" placeholder="Ej. 2012 A." name="generacion" required typeahead-editable='false' typeahead-on-select="rc.recargarReporte()">
        </div>

        <br>

        <uib-tabset active="activeJustified" justified="true" ng-show="rc.carrerasElegidas.length && rc.ciclo" >
            <uib-tab index="0" heading="Por carrera">
                <br>
                <a class="btn btn-default" title="Export Table" ng-click='csvMateriasCampus.generate()' ng-href="{{ csvMateriasCampus.link() }}"
             download="materias_campus_por_carreras.csv">
                    <i class="glyphicon glyphicon-download"></i> &#160;Exportar a csv
                </a>
                <br>
                <br>
                <div class="table-responsive">
                    <table ng-table="rc.ngTableMateriasCarrera" class="table table-condensed table-striped table-hover table-responsive" show-filter="true" export-csv="csvMateriasCampus" separator=",">
                        <tr ng-repeat="row in $data" ng-class="row.classes">
                            <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                                {{row.clave}}
                                <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                            </td>
                            <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                                {{row.nombre}}
                            </td>
                            <td title="'Horario'" sortable="'horario'" class="text-left" header-class="'text-left'" show-filter="true" filter="{horario:'select'}" filter-data="rc.tiposHorario">
                                {{row.horario}}
                            </td>
                            <td title="'Cupos'" sortable="'cupos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{cupos:'text'}">
                                {{row.cupos}}
                            </td>
                            <td title="'alumnos/materia'" class="text-center csv-link" header-class="'text-center'">
                                <span class="show-on-csv">{{rc.generaUrlVerAlumno(row)}}</span>
                                <i class="glyphicon glyphicon-eye-open" ng-click="rc.verAlumnos(row)"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Movilidad">
                <br>
                <a class="btn btn-default" title="Export Table" ng-click='csvMateriasMovilidad.generate()' ng-href="{{ csvMateriasMovilidad.link() }}"
             download="materias_movilidad_por_carrera.csv">
                    <i class="glyphicon glyphicon-download"></i> &#160;Exportar a csv
                </a>
                <br>
                <br>
                <div class="table-responsive">
                    <table ng-table="rc.ngTableMateriasMovilidad" class="table table-condensed table-striped table-hover table-responsive" show-filter="true" export-csv="csvMateriasMovilidad" separator=",">
                        <tr ng-repeat="row in $data" ng-class="row.classes">
                            <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                                {{row.clave}}
                                <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                            </td>
                            <td title="'Campus'" sortable="'campus'" class="text-left" header-class="'text-left'" show-filter="true" filter="{campus:'text'}">
                                {{row.campus}}
                            </td>
                            <td title="'Cupos'" sortable="'cupos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{cupos:'text'}">
                                {{row.cupos}}
                            </td>
                            <td title="'alumnos/materia'" class="text-center csv-link" header-class="'text-center'">
                                <span class="show-on-csv">{{rc.generaUrlVerAlumno(row)}}</span>
                                <i class="glyphicon glyphicon-eye-open" ng-click="rc.verAlumnosMovilidad(row)"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="Lista solicitantes">
                <br>
                <a class="btn btn-default" title="Export Table" ng-click='csvAlumnosSolicitantes.generate()' ng-href="{{ csvAlumnosSolicitantes.link() }}"
             download="alumnos_solicitantes_preregistro.csv">
                    <i class="glyphicon glyphicon-download"></i> &#160;Exportar a csv
                </a>
                <br>
                <br>
                <div class="table-responsive">
                    <table ng-table="rc.ngTableAlumnosSolicitantes" class="table table-condensed table-striped table-hover table-responsive" show-filter="true" export-csv="csvAlumnosSolicitantes" separator=",">
                        <tr ng-repeat="row in $data" ng-class="row.classes">
                            <td title="'Clave'" sortable="'clave'" class="text-left" header-class="'text-left'" show-filter="true" filter="{clave:'text'}">
                                {{row.codigo}}
                                <span ng-class="row.completion == 100 ? 'glyphicon glyphicon-ok-sign' : ''"></span>
                            </td>
                            <td title="'Nombre'" sortable="'nombre'" class="text-left" header-class="'text-left'" show-filter="true" filter="{nombre:'text'}">
                                {{row.nombre}}
                            </td>
                            <td title="'Apellidos'" sortable="'apellidos'" class="text-left" header-class="'text-left'" show-filter="true" filter="{apellidos:'text'}">
                                {{row.apellidos}}
                            </td>
                            <td title="'Email'" sortable="'email'" class="text-left" header-class="'text-left'" show-filter="true" filter="{email:'text'}">
                                <a href="mailto:{{row.email}}">{{row.email}}</a>
                            </td>
                            <td title="'Carrera'" sortable="'programa'" class="text-left" header-class="'text-left'" show-filter="true" filter="{programa:'text'}">
                                {{row.programa}}
                            </td>
                            <td title="'Generación'" sortable="'generacion'" class="text-left" header-class="'text-left'" show-filter="true" filter="{generacion:'text'}">
                                {{row.generacion}}
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-tab>

        </uib-tabset>
    </form>
</div>
