<div class="selection-container">

    <div class="row">
        <a href="#/registro" class="btn btn-default">Darme de alta</a>
    </div>
    <br>
    <div class="row">
        <a href="#/login" class="btn btn-default">Iniciar sesión</a>
    </div>

</div>
