<div class="row" data-ng-controller="SignController as sc">
    <div class="sign-forms col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <img class="escudo" src="img/escudo.png" alt="">
        <div class="row">C.U.C.E.I.</div>
        <div class="row">Sistema de pre-registro de materias</div>
        <br>
        <div ui-view="signContent"></div>
    </div>
</div>
