<div class="login-container" data-ng-controller="LoginController as lc">
    <form action="" class="row">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Email</span>
            <input type="email" class="form-control" placeholder="Email de usuario" aria-describedby="sizing-addon2" data-ng-model="lc.inputs.email" maxlength="100" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Contraseña</span>
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon2" data-ng-model="lc.inputs.contrasena" maxlength="32" required>
        </div>
        <div class="row">
            <div class="col-xs-12">
             <button type="button" class="btn btn-default" data-ng-click="lc.userLogin()">Acceder</button>
            </div>
        </div>
    </form>
</div>
